@import url(//file.myfontastic.com/n6vo44Re5QaWo8oCKShBs7/icons.css);@import url(https://fonts.googleapis.com/css?family=Josefin+Sans);@import url(https://fonts.googleapis.com/css?family=Righteous);*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  margin: 0;
  padding: 0; }

body {
  font-family: "Josefin Sans", sans-serif; }

.opacityTran {
  opacity: 0;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s; }

.headerScroll {
  background-color: rgba(55, 56, 52, 0.6); }
  .headerScroll .logoMenu {
    opacity: 1 !important;
    height: 50px !important;
    padding-right: 80px !important;
    flex-wrap: wrap !important; }
    .headerScroll .logoMenu span {
      display: inline !important; }

.seccionHome {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  background-color: #e0e0e0;
  background-image: url("//miguelcast.github.io/img/background2.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  .seccionHome .header {
    position: fixed;
    top: 0px;
    z-index: 100;
    display: flex;
    justify-content: center;
    width: 100%;
    left: 0px;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s; }
    @media screen and (max-width: 480px) {
      .seccionHome .header {
        position: absolute;
        display: block; } }
    .seccionHome .header .logoMenu {
      font-family: 'Righteous', cursive;
      font-size: 2em;
      color: white;
      height: 0px;
      padding-right: 0px;
      opacity: 0;
      display: -webkit-box;
      /* OLD - iOS 6-, Safari 3.1-6 */
      display: -moz-box;
      /* OLD - Firefox 19- (buggy but mostly works) */
      display: -ms-flexbox;
      /* TWEENER - IE 10 */
      display: -webkit-flex;
      /* NEW - Chrome */
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      flex-wrap: nowrap;
      -webkit-transition: all 1s;
      -moz-transition: all 1s;
      -ms-transition: all 1s;
      -o-transition: all 1s;
      transition: all 1s; }
      .seccionHome .header .logoMenu span {
        display: none; }
      .seccionHome .header .logoMenu span:last-child {
        color: #27AE60; }
    .seccionHome .header .item {
      width: 150px;
      height: 50px; }
      @media screen and (max-width: 480px) {
        .seccionHome .header .item {
          width: 100%;
          height: inherit;
          padding: 5px; } }
      .seccionHome .header .item a {
        color: white;
        text-decoration: none;
        height: 100%;
        display: -webkit-box;
        /* OLD - iOS 6-, Safari 3.1-6 */
        display: -moz-box;
        /* OLD - Firefox 19- (buggy but mostly works) */
        display: -ms-flexbox;
        /* TWEENER - IE 10 */
        display: -webkit-flex;
        /* NEW - Chrome */
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: nowrap; }
        .seccionHome .header .item a:visited {
          color: white; }
        .seccionHome .header .item a:hover {
          position: relative;
          height: 105%;
          border-bottom: 3px solid #27AE60; }
  .seccionHome .tittle {
    font-family: 'Righteous', cursive;
    font-size: 4em;
    color: white;
    margin: 0;
    text-shadow: black 1px 1px 25px;
    text-align: center; }
    @media screen and (max-width: 480px) {
      .seccionHome .tittle {
        font-size: 2em; } }
    .seccionHome .tittle span:last-child {
      color: #27AE60; }
  .seccionHome .type {
    color: white;
    text-shadow: black 1px 1px 25px;
    text-align: center; }

.seccionAbout {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  background-color: #e0e0e0; }
  .seccionAbout .aboutContent {
    position: absolute;
    right: 0;
    top: 10%;
    width: 70%; }
    .seccionAbout .aboutContent .tittle {
      font-family: 'Righteous', cursive;
      font-size: 4em;
      color: white;
      margin: 0;
      text-align: center; }
      @media screen and (max-width: 480px) {
        .seccionAbout .aboutContent .tittle {
          font-size: 2em; } }
      .seccionAbout .aboutContent .tittle span {
        color: #27AE60; }
    .seccionAbout .aboutContent p {
      margin: 30px;
      color: #7B8D9B;
      font-size: 1.7em;
      text-align: center;
      line-height: 1.7em; }
      @media screen and (max-width: 480px) {
        .seccionAbout .aboutContent p {
          font-size: 1em;
          margin: 10px;
          line-height: 1.1em; } }
  .seccionAbout .imgProfile {
    width: 30%;
    height: 100%;
    left: 0px;
    top: 0px;
    background-image: url("//miguelcast.github.io/img/about.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute; }

.seccionPortfolio {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  background-color: #27AE60;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative; }
  .seccionPortfolio .portHeader {
    padding-top: 3em; }
    .seccionPortfolio .portHeader .tittle {
      font-family: 'Righteous', cursive;
      font-size: 4em;
      color: white;
      margin: 0;
      text-align: center; }
      @media screen and (max-width: 480px) {
        .seccionPortfolio .portHeader .tittle {
          font-size: 2em; } }
      .seccionPortfolio .portHeader .tittle span {
        color: #e0e0e0; }
  .seccionPortfolio .Portfolio {
    position: relative;
    width: 100%;
    min-height: 100vh;
    text-align: center; }
    .seccionPortfolio .Portfolio .Project {
      margin: 1em;
      background-color: white;
      border: 5px solid white;
      display: inline-block;
      text-align: center;
      vertical-align: middle;
      cursor: pointer; }
      .seccionPortfolio .Portfolio .Project .Project-Name {
        height: 40px;
        color: #27AE60;
        font-weight: 500;
        padding: 10px; }
      .seccionPortfolio .Portfolio .Project .Project-Img {
        position: relative;
        overflow: hidden;
        height: 200px; }
        .seccionPortfolio .Portfolio .Project .Project-Img img {
          width: 350px;
          vertical-align: bottom;
          -webkit-transition: all 1s;
          -moz-transition: all 1s;
          -ms-transition: all 1s;
          -o-transition: all 1s;
          transition: all 1s; }
        .seccionPortfolio .Portfolio .Project .Project-Img .Project-Img-More {
          position: absolute;
          top: 45%;
          padding: 5px;
          text-align: center;
          background-color: rgba(255, 255, 255, 0.5);
          color: black;
          text-shadow: 0px 2px 5px gray;
          font-weight: 600;
          width: 30%;
          opacity: 0;
          -webkit-transition: all 1s;
          -moz-transition: all 1s;
          -ms-transition: all 1s;
          -o-transition: all 1s;
          transition: all 1s; }
      .seccionPortfolio .Portfolio .Project:hover .Project-Name {
        font-weight: 800; }
      .seccionPortfolio .Portfolio .Project:hover .Project-Img img {
        -ms-filter: grayscale(80%);
        filter: grayscale(80%);
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transform: scale(1.2);
        transform: scale(1.2);
        -webkit-transition: all 1s;
        -moz-transition: all 1s;
        -ms-transition: all 1s;
        -o-transition: all 1s;
        transition: all 1s; }
      .seccionPortfolio .Portfolio .Project:hover .Project-Img .Project-Img-More {
        width: 100%;
        opacity: 1;
        -webkit-transition: all 1s;
        -moz-transition: all 1s;
        -ms-transition: all 1s;
        -o-transition: all 1s;
        transition: all 1s; }

.top {
  top: 0px; }

.bottom {
  bottom: 0px; }

.seccionContact {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  background-color: #e0e0e0; }
  .seccionContact .tittle {
    font-family: 'Righteous', cursive;
    font-size: 4em;
    color: white;
    margin: 0;
    text-align: center; }
    @media screen and (max-width: 480px) {
      .seccionContact .tittle {
        font-size: 2em; } }
    .seccionContact .tittle span {
      color: #27AE60; }

[class*="socicon-"]:before {
  font-family: "socicon";
  font-weight: normal;
  font-style: normal;
  color: #fff;
  position: relative;
  font-size: 1.5em; }

.containerSocial {
  position: fixed;
  width: 100%;
  height: 50px;
  display: flex;
  flex-wrap: nowrap;
  bottom: 0px;
  left: 0px;
  text-align: center;
  z-index: 100; }
  .containerSocial a {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s; }
    @media screen and (max-width: 480px) {
      .containerSocial a {
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        width: 50px;
        margin-left: 5px;
        margin-bottom: 3px;
        margin-top: -3px;
        padding-top: 1px;
        vertical-align: middle; } }
    .containerSocial a span {
      text-decoration: none;
      color: white;
      padding-left: 8px;
      opacity: 0;
      width: 0px;
      -webkit-transition: all 1s;
      -moz-transition: all 1s;
      -ms-transition: all 1s;
      -o-transition: all 1s;
      transition: all 1s; }
      @media screen and (max-width: 480px) {
        .containerSocial a span {
          display: none; } }
    .containerSocial a:hover {
      opacity: .6; }
      .containerSocial a:hover span {
        opacity: 1;
        width: 80px; }
  .containerSocial .face {
    background-color: #3B5998; }
  .containerSocial .tweet {
    background-color: #4099FF; }
  .containerSocial .flickr {
    background-color: #ff0084; }
  .containerSocial .github {
    background-color: #211f1f; }
